.profile__avatar {
    width: 120px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

@media screen and (max-width: 920px) {
    .profile__avatar {
        margin-left: 5%;
    }
}

@media screen and (max-width: 540px) {
    .profile__avatar {
        margin: 0;
    }
} 