.profile__info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    align-items: flex-start;
}

@media screen and (max-width: 520px) {
    .profile__info {
        justify-content: center;
    }
}