.card__like {
    border: 0;
    background: #fff;
    background-image: url(../../../images/Vector.png);
    width: 22px;
    height: 19px;
    transition: .8s;
    color: #000;
    position: absolute;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}

.card__like:active {
    background-image: url(../../../images/Union.png);   
}